<nav class="team-pages-callout-card"> 
    <nb-card accent="danger">
      <nb-card-body>
        <div>
          <div class="form-group">
              <div class="row">
                  <div class="col-md-10">
                    <h5>
                      チームページを作成しよう
                    </h5>
                    独自のWinRedチームページを作成して、お気に入りの活動の資金を集めましょう！
                  </div>
                  <div class="col-md-offset-2 col-md-2 align-items-end d-flex control-item flex-row-reverse">
                    <nb-action>
                      <button nbButton status="info">作成する</button>
                    </nb-action>
                  </div>
              </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
</nav>  
